//
   Created by School on 3/22/2016.
extends layout
block content
    h1 title
    ul
      each dungeon in Dungeons
        div.dungeon_div
          li.dungeon_li <strong>Dungeon :</strong> #{dungeon._id} was created: #{dungeon.date_created}
          li.dungeon_li Number of Rooms: #{dungeon.number_of_rooms}
            ol
              each room in dungeon.all_rooms
                <fieldset><legend><span>Room Number #{room.room_number}</legend>
                li.big_room_number.room Room Dimensions (L  W  H): #{room.l_w_h[0]} x #{room.l_w_h[1]} x #{room.l_w_h[2]}
                  ul.room
                    li.room Strange Features: #{room.weird_feature}
                  ul.room Major Features:
                    each maj_feature in room.major_features
                      li.room #{maj_feature}
                  ul.room
                    li.room Minor Features:
                      each min_feature in room.minor_features
                        li.room #{min_feature}
                </span></fieldset>






